.DS_Store

logs
project/project
project/target
target
tmp
.history
dist
/.idea
*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

# temp file 
\#*
.\#*

# LaTeX gitignore
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
